.icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }
  
  
  
  .section{
      padding-bottom: 30px;
  }
  
  .page-footer{
      background-color: #ff6f00;
  }
  
  
  
  
  